body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 240, 7, 1) 100%
	);
}

span {
	margin: auto;
	font-size: 10rem;
}