/* body {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  background: rgb(131, 131, 131);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(27, 141, 84) 100%
  );
  max-width: 1200px;
}

span {
  font-size: 10rem;
}
.orangeContain {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
}

.orangeContainFlipped {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
  transform: rotate(180deg);
}
.orange {
  height: 100px;
  width: 100px;
  border: 7px solid #000;
  background-color: orange;
  border-radius: 50% 0;
  z-index: 2;
  perspective: 1000px;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.orangeLeft {
  height: 100px;
  width: 100px;
  border: 7px solid #000;
  background-color: red;
  border-radius: 0 50%;
  z-index: 2;
  perspective: 1000px;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.orange:hover {
  -webkit-transform: rotate3d(-1, 1, 0, -180deg);
}
.orangeLeft:hover {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
}

.blueContain {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 200px;
  margin: -50px auto;
}
.blue {
  height: 100px;
  width: 100px;
  border: 5px solid #000;
  background-color: rgb(33, 145, 250);
  border-radius: 50%;
  z-index: 3;
}

.shapeContain {
  width: 100%;
  margin: 0.5rem auto;
} */


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; 
}

canvas { width: 100%; height: 100% }